<%- navHTML %>
    <div class="hero">
        <h2>Tonight is a good night for stargazing</h2>
        <button href="/" class="nav_links" id="profile_menu"><svg id="profile_svg" width="45px" height="45px"><image width="45px" height="45px" href="/images/infinity_train_logo_black_bold.svg"></image></svg></button>
        <!--<picture>
            <source srcset="/images/<%= heroImage || 'index_hero_train_landscape' %>-small.webp" media="(max-width: 500px)">
            <source srcset="/images/<%= heroImage || 'index_hero_train_landscape' %>-medium.webp" media="(max-width: 1000px)">
            <img class="hero_image" src="/images/<%= heroImage || 'index_hero_train_landscape' %>-min.webp" alt="<%= heroAlt || 'The Infinity Train spanning across the horizon, rendered by Andrew Mulert' %>">
        </picture>
        <div class="hero_text">
            <h2><%= heroText || 'Welcome to the' %></h2>
            <svg class="hero_logo"><image href="/images/infinity_train_logo_white_bold.svg"></image></svg>
        </div>-->
    </div>